body {
  margin: 0;
  min-height: 100vh;
  display: block;
  background-color: #242424;
  color: #f9f9f9;
}

/* App.css */
#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}
